{% extends 'calculator/parts/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
	<div class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">
		<h2>Saving Calculator</h2>
		<p>See how your savings can grow with regular monthly deposits.
		Have a go. Get some fast indicative answers about your savings with this easy calculator.</p>
	</div>
	<br>
	<div class="row">
		<div class="col-3">
			{% include 'calculator/parts/calculator.html' %}
		</div>			
		<div class="col-5">
			{% include 'calculator/parts/summary.html' %}
			<br>
			{% include 'calculator/parts/schedule.html' %}
		</div>
		<div class="col-4">
			<div class="accordion accordion-flush" id="accordionFlushExample">
				<!-- Section 1: general info -->
				<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
					<h5>General Information</h5>
					</button>
				</h2>
				<div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">{% include 'calculator/parts/general_info.html' %}</div>
				</div>
				</div>
				<!-- Section 2: assumptions -->
				<div class="accordion-item">
				<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
					<h5>Assumptions</h5>
					</button>
				</h2>
				<div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">{% include 'calculator/parts/assumption.html' %}</div>
				</div>
				</div>
				<!-- Section 4: Bar charts -->
				<div class="accordion-item">
					<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
					<h5>Bar Charts</h5>
					</button>
					</h2>
					<div id="flush-collapseFour" class="accordion-collapse collapse show" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
					{% include 'calculator/parts/bar_chart.html' %}			 
					</div>
					</div>
				</div>
				<!-- Section 5: Stacked bar charts -->
				<div class="accordion-item">
					<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
					<h5>Stacked Bar Charts</h5>
					</button>
					</h2>
					<div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
					{% include 'calculator/parts/stacked_bar_chart.html' %}		 
					</div>
					</div>
				</div>
				<!-- Section 6: Pie charts -->
				<div class="accordion-item">
					<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
					<h5>Pie Charts</h5>
					</button>
					</h2>
					<div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
					{% include 'calculator/parts/pie_chart.html' %}			 
					</div>
					</div>
				</div>
				<!-- Section 7: Doughnut charts -->
				<div class="accordion-item">
					<h2 class="accordion-header">
					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
					<h5>Doughnut Charts</h5>
					</button>
					</h2>
					<div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
					<div class="accordion-body">
					{% include 'calculator/parts/doughnut_chart.html' %}				 
					</div>
					</div>
				</div>      
			</div>
		</div>
  </div>
	
{% endblock content %}
