  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        <h5>General Information</h5>
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">The Regular Savings Calculator gives indicative results for the total accumulation in a savings account, 
            at the regular deposit frequency requested, in respect of the savings plan parameters entered, namely initial amount, regular deposit amount, term and interest rate.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        <h5>Assumptions</h5>
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
            <h5>Length of Month</h5>
            <p>As done in most financial calculators, all months are assumed to be of equal length. 
                In reality, many savings accounts accrue on a daily basis leading to a varying number of days’ interest dependent on the number of days in the particular month.</p>
            
            <h5>Number of Weeks & Fortnights in a Year</h5>
            <p>One year is assumed to contain exactly 52 weeks or 26 fortnights. 
                This implicitly assumes that a year has 364 days rather than the actual 365 or 366.</p>
            
            <h5>Deposit and Interest Compounding Frequency</h5>
            <p>The calculator assumes that deposits and interest crediting occurs at the same frequency. 
                This frequency is an input parameter entered by the user - namely annually, monthly, fortnightly or weekly.</p>
            
            <h5>Rounding of Amounts of Total Accumulation and Interest Earned</h5>
            <p>The amounts of total accumulation and interest earned are rounded to the nearer cent. 
                In practice, the accuracy in these amounts is dependent on the rounding protocols used for interim amounts of interest credited to the account.</p>
        </div>
      </div>
    </div>
  </div>