{% load crispy_forms_tags %}
<!-- Form -->
<form id="dataForm" method="POST">    
    {% csrf_token %}        
    <div class="form-group">
        <div class="row">
            <!-- Field for Initial Deposit -->
            <div class="col-6">
                <label for="starting_amount">Deposit:</label>
                <!-- 1a-Deposit field -->
                <input onchange="updateChart()" type="number" id="starting_amount" name="starting_amount" class="form-control">
                <!-- 1b-Deposit Range -->
                <input onchange="updateChart()" type="range" id="starting_amount_range" name="starting_amount_range" min="0" max="1000000" value="0" class="form-range">
            </div>
            <!-- Field for expected return rate -->
            <div class="col-6">
                <label for="return_rate">Rate of Return</label>
                <!-- 3a-rate range -->
                <input onchange="updateChart()" type="number" id="return_rate" name="return_rate" class="form-control">
                <!-- 3b-rate range -->
                <input onchange="updateChart()" type="range" id="return_rate_range" name="return_rate" min="0" max="100" value="0" class="form-range">
            </div>                   
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <!-- Field for Number of year -->
            <div class="col-6">
                <label for="number_of_years">How long?</label>
                <!-- 2a-Year field -->
                <input type="number" id="number_of_years" name="number_of_years" class="form-control">
                <!-- 2b-Year Range -->
                <input type="range" id="number_of_years_range" name="number_of_years_range" min="0" max="1000" value="0" class="form-range">
            </div>  
            <!-- Frequency dropdown -->
            <div class="col-6">
                <label for="frequency">Period</label>
                <select id="frequency" name="frequency" class="form-select form-select-sm">
                    <option value="yearly">Yearly</option>
                    <option value="monthly">Monthly</option>
                    <option value="fortnightly">Fortnightly</option>
                    <option value="weekly">Weekly</option>
                    <option value="daily">Daily</option>
                </select>  
            </div> 
        </div>
    </div>
    

    <div class="form-group">
        <div class="row">
            <!-- Additional deposit -->
            <div class="col-6">
                <label for="annual_additional_contribution">Extra Saving</label>
                <!-- 4a-Additional deposit field -->
                <input onchange="updateChart()" type="number" id="annual_additional_contribution" name="annual_additional_contribution" class="form-control">
                <!-- 4b-Additional deposit range -->
                <input onchange="updateChart()" type="range" id="annual_additional_contribution_range" name="annual_additional_contribution_range" min="0" value="0" max="100000" class="form-range">
            </div>
            <!-- Frequency dropdown -->
            <div class="col-6">
                <label for="ExtraPerPeriod">Frequency</label>
                <select id="ExtraPerPeriod" name="ExtraPerPeriod" class="form-select form-select-sm">
                    <option value="yearly">Yearly</option>
                    <option value="monthly">Monthly</option>
                    <option value="fortnightly">Fortnightly</option>
                    <option value="weekly">Weekly</option>
                    <option value="daily">Daily</option>
                </select>  
            </div>    
        </div>
    </div>  
</form>
