{% load crispy_forms_tags %}
<form id="dataForm" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-primary" onclick="convertToJson()" type="submit">Calculate</button>
</form>
<div id="jsonOutput"></div>
<!--// Function to convert data from the form to Json -->
<script>
    function convertToJson() {
        let form = document.getElementById("dataForm");
        let formData = {};
        for (let i = 0; i < form.elements.length; i++) {
            let element = form.elements[i];
            if (element.type !== "submit") {
                formData[element.name] = element.value;
            }
        }
        let jsonData = JSON.stringify(formData);
        let jsonOutput = document.getElementById("jsonOutput");
        jsonOutput.innerHTML = "<pre>" + jsonData + "</pre>";
    }
</script>

