<div class="p-3 border bg-light">
	<h1>Charts</h1>
	{% for key, value in yearly_results.items %}
	<canvas id="myChart"></canvas>
	<script>
		//const xValues = ["Year 1", "Year 2", "Year 3", "Year 4", "Year 5"];
		const xValues = ['{{ key }}',];
		
		const yValues_interest = [50,60,70,80,90,100,110,120,130,140,150];
		const yValues_investment = [100,200,300,400,500,600,700,800,900,1000];
		const barColors = ["red", "green","blue","orange","brown"];
		//set up	
		const data = {
			labels: xValues,
			datasets: [{
				label: 'Interest',
				data: yValues_interest,
				backgroundColor: "red",
				borderWidth: 1,
				fill: false
			},
			{
				label: 'total investment',
				data: yValues_investment,
				backgroundColor: "green",
				borderWidth: 1,
				fill: false
			}]
		};
			//config
			const config ={
				type: 'line',
				data,
				options: {
					scales: {
						y: {beginAtZero: true}
					}
				}
			};
			//reder init block
			const myChart = new Chart(
				document.getElementById('myChart'),
				config
			);
	</script>
	{% endfor %}
</div>