<div class="p-3 border bg-light">
	<canvas id="myChart"></canvas>
	
	<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.2/dist/chart.umd.min.js"></script>

	<script>
		const interest = JSON.parse('{{ data3|safe }}');
		const saving = JSON.parse('{{ data4|safe }}');

		//set up	
		const data = {
			labels: 'interest,saving',
			datasets: [{
				label: 'Interest',
				data: interest,
				backgroundColor: "green",
				borderWidth: 1,
			},
			{
				label: 'total saving',
				data: saving,
				backgroundColor: "blue",
				borderWidth: 1,
				
			}]
		};
			//config
			const config ={
				type: 'pie',
				data,
				options: {
				}
			};
			//render init block
			const myChart = new Chart(
				document.getElementById('myChart'),
				config
			);
	</script>
</div>