<div class="table-responsive-sm">
    <table class="table table-sm table-striped header-fixed caption-top">
        <thead>
            <tr>
                <th>Year</th>
                <th>Initial Deposit</th>
                <th>Rate %</th>
                <th>Interest on deposit</th>
                <th>Additional saving</th>
                <th>Total deposit</th>
                <th>Compound interest</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody id="yearlyResults">
            <!-- Yearly results will be populated here by JavaScript -->
        </tbody>
        <tfoot>
            <tr>
                <td class="fw-bold" id="totalYear"></td>
                <td class="fw-bold" id="totalInitialDeposit"></td>
                <td class="fw-bold" id="totalRate"></td>
                <td class="fw-bold" id="totalInterestOnDeposit"></td>
                <td class="fw-bold" id="totalAdditionalDeposit"></td>
                <td class="fw-bold" id="totalDeposit"></td>
                <td class="fw-bold" id="totalCompoundInterest"></td>
                <td class="fw-bold" id="totalResult"></td>
            </tr>
        </tfoot>
    </table>
</div>
