
<!--Saving summary table-->
<table class="table table-primary">
    <tbody>
        <tr>
            <th class="text-start">Year of saving:</th>
            <td class="text-end h5"><span id="displayYears"></span></td>
        </tr>
        <tr>
            <th class="text-start">Initial deposit:</th>
            <td class="text-end h5"><span id="displayInitialDeposit"></span></td>
        </tr>
        <tr>
            <th class="text-start">Total additional saving:</th>
            <td class="text-end h5"><span id="displayAdditionalSaving"></span></td>
        </tr>
        <tr>
            <th class="text-start">Total interest:</th>
            <td class="text-end h5"><span id="displayInterest"></span></td>
        </tr>
        <tr>
            <th class="text-start">Total saving:</th>
            <td class="text-end h5"><span id="displayTotalSaving"></span></td>
        </tr>
    </tbody>
</table>
